# Ignorer les fichiers et dossiers générés par Cargo
/target
**/*.rs.bk

# Ignorer les fichiers de configuration et de verrouillage
Cargo.lock

# Ignorer les fichiers et dossiers de l’IDE/éditeur
.idea/
.vscode/
*.swp
*.swo

# Ignorer les fichiers temporaires du système
.DS_Store
Thumbs.db

# Ignorer les fichiers de logs et de débogage
*.log

# Ignorer les fichiers JSON de données de test (peut être adapté selon ce que tu souhaites garder)
/data/*.json
/templates/examples/*.json


# Environment files
.env
.env.local
.env.*.local

# data source
data/